.form-input {
    width: 95%;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #4a54f1;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #4a54f1(0, 123, 255, 0.25);
}

.form-input::placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-input:disabled,
.form-input[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

select.form-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23333' d='M10.293 3.293L6 7.586 1.707 3.293A1 1 0 00.293 4.707l5 5a1 1 0 001.414 0l5-5a1 1 0 10-1.414-1.414z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    padding-right: 30px;
}

input[type="number"].form-input {
    -moz-appearance: textfield;
}

input[type="number"].form-input::-webkit-outer-spin-button,
input[type="number"].form-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-input:hover:not(:disabled):not([readonly]) {
    border-color: #4a54f1;
}