{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <section class="content-section">
        <h2>Добро пожаловать на наш сайт!</h2>
        <p>Этот сайт создан для удобного просмотра и управления документацией по купленным товарам. Мы понимаем, как важно для бизнеса иметь доступ к актуальной информации о товарах, поэтому мы разработали платформу, которая упрощает этот процесс.</p>
        
        <h3>Основные функции:</h3>
        <ul class="features-list">
            <li><strong>Документация по товарам:</strong> Легкий доступ к полному описанию и характеристикам всех ваших товаров.</li>
            <li><strong>Отчетность со складов:</strong> Получите подробные отчеты о количестве товаров на складах и их стоимости.</li>
            <li><strong>Продажа товаров:</strong> Удобные инструменты для продажи товаров другим лицам, включая управление заказами и отслеживание статуса продаж.</li>
        </ul>

        <h3>Преимущества использования нашего сайта:</h3>
        <p>С помощью нашего сайта вы сможете:</p>
        <ul class="benefits-list">
            <li>Увеличить эффективность работы с документацией.</li>
            <li>Сократить время на поиск информации о товарах.</li>
            <li>Оптимизировать процессы учета и отчетности.</li>
            <li>Улучшить взаимодействие между сотрудниками.</li>
        </ul>

        <div class="additional-info">
            <h3>Дополнительная информация</h3>
            <p>Если у вас есть вопросы или вам нужна помощь, пожалуйста, свяжитесь с нашей службой поддержки по внутреннему номеру 1234 или напишите на почту support@yourcompany.local.</p>
        </div>
    </section>
{% endblock %}